
@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";
:root {
  --primary-color: #2563eb; /* Tailwind blue-600 */
  --primary-color-text: #ffffff;

  --highlight-bg: #eff6ff;
  --highlight-text-color: #1e3a8a;

  --surface-ground: #f9fafb;
  --surface-card: #ffffff;
  --surface-border: #e5e7eb;
  --text-color: #374151;
  --text-color-secondary: #6b7280;
}